main {
    padding-top: 32px;
}

.testimonial {
    /* font-size: 1.2em; */
    font-size: 1.2rem;
    margin: 48px;
}

.testimonial:first-of-type {
    margin-top: 96px;
}

.testimonial__image-container {
    width: 50%;
    /* max-width: 400px; */
    min-width: 300px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.customer-image {
    width: 100%;
    vertical-align: top;
}

.testimonial__info {
    text-align: left;
    padding: 14px;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}

#customer-2.testimonial {
    text-align: right;
}

.testimonial__name {
    margin: 3px;
    color: #1565c0;
    /* font-size: 2em; */
    font-size: 2rem;
}

.testimonial__subtitle {
    margin: 0;
    /* font-size: 18px; */
    /* font-size: 1.1em; */
    font-size: 1.2rem;
    color: #757575;
}

.testimonial__text {
    margin: 3px;
    color: #212121;
}