* {
    box-sizing: border-box;
}

@font-face {
    font-family: Harmond-ExtdltaExp;
    src: url('../fonts/Harmond-ExtBdItaExp.otf');
}

body {
    margin: 0;
    font-family: 'Harmond-ExtdltaExp';
}
