* {
    box-sizing: border-box;
}

@font-face {
    font-family: Harmond-ExtdltaExp;
    src: url('../fonts/Harmond-ExtBdItaExp.otf');
}

body {
    margin: 0;
    font-family: 'Harmond-ExtdltaExp';
}

.main-header {
    width: 100%;
    background: rgb(0, 119, 255);
    /* padding: 20px; */
    padding: 8px 16px;
}

.main-nav__item {
    display: inline-block;
    padding: 20px;
}

a {
    color: white;
}