* {
    box-sizing: border-box;
}

@font-face {
    font-family: Harmond-ExtdltaExp;
    src: url('../fonts/Harmond-ExtBdItaExp.otf');
}

body {
    margin: 0;
    font-family: 'Harmond-ExtdltaExp';
}

.main-header {
    width: 100%;
    background: rgb(0, 119, 255);
    /* padding: 20px; */
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header_logo {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    /* width: 100%; */
    width: calc(100% - 75px);
    text-align: right;
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    /* padding: 20px; */
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: light blue;
}

.main-nav__item a:after {
    /* content: " (link)"; */
    color: #000000;
}

/* .main-nav__item a:hover {
    color: #ffffff;
}

.main-nav__item a:active {
    color: #ffffff;
} */

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #ffffff;
}

.main-nav__item--account a {
    background: #e3f2fd;
    color: #1565c0;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--account a:hover,
.main-nav__item--account a:active {
    color: #1565c0;
}

#overview {
    width: 100%;
    height: 600px;
    background-image: url('../images/bg-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* p::first-letter {
    font-size: 20px;
    color: red;
} */

a {
    color: white;
}