* {
    box-sizing: border-box;
}

@font-face {
    font-family: Harmond-ExtdltaExp;
    src: url('../fonts/Harmond-ExtBdItaExp.otf');
}

body {
    margin: 0;
    font-family: 'Harmond-ExtdltaExp';
}

.main-header {
    width: 100%;
    background: rgb(0, 119, 255);
    /* padding: 20px; */
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
}

.main-nav {
    display: inline-block;
    /* width: 100%; */
    width: calc(100% - 55px);
    text-align: right;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    /* padding: 20px; */
}

a {
    color: white;
}