* {
    box-sizing: border-box;
}

@font-face {
    font-family: Harmond-ExtdltaExp;
    src: url('../fonts/Harmond-ExtBdItaExp.otf');
}

body {
    font-family: 'Harmond-ExtdltaExp';
}

#title {
    background: blue;
    padding: 20px;
    /* border-width: 3px;
    border-style: solid;
    border-color: black; */
    border: 3px solid black;
    /* margin: 20px; scroll of the page will disapear by commenting margin: 20px*/ 
    /* width: 300px; */
    width: 100%;
    height: 200px;
    
    /* box-sizing: content-box;  // default values       */
    /* box-sizing: border-box; */
}

.products {
    background: red;
}

/* h1 {
    color: white;
} */

#title h1 {
    color: yellow;
}