@font-face {
    font-family: Harmond-ExtdltaExp;
    src: url('../fonts/Harmond-ExtBdItaExp.otf');
}

body {
    font-family: 'Harmond-ExtdltaExp';
}

section {
    background: blue;
}

h1 {
    color: white;
    
}