@font-face {
    font-family: Harmond-ExtdltaExp;
    src: url('../fonts/Harmond-ExtBdItaExp.otf');
}

body {
    font-family: 'Harmond-ExtdltaExp';
}

#title {
    background: blue;
}

.products {
    background: red;
}

/* h1 {
    color: white;
} */

#title h1 {
    color: yellow;
}