@font-face {
    font-family: Harmond-ExtdltaExp;
    src: url('../fonts/Harmond-ExtBdItaExp.otf');
}

body {
    font-family: 'Harmond-ExtdltaExp';
}

#title {
    background: blue;
    padding: 20px;
    /* border-width: 3px;
    border-style: solid;
    border-color: black; */
    border: 3px solid black;
    margin: 20px;
}

.products {
    background: red;
}

/* h1 {
    color: white;
} */

#title h1 {
    color: yellow;
}